In [1]:
# Import libraries
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

In [2]:
df = pd.read_csv('Airline Passenger Satisfaction.csv')

In [3]:
df.head

<bound method NDFrame.head of         Unnamed: 0      id  Gender      Customer Type  Age   Type of Travel  \
0                0   70172    Male     Loyal Customer   13  Personal Travel
1                1    5047    Male  disloyal Customer   25  Business travel
2                2  110028  Female     Loyal Customer   26  Business travel
3                3   24026  Female     Loyal Customer   25  Business travel
4                4  119299    Male     Loyal Customer   61  Business travel
...            ...     ...     ...                ...  ...              ...
103899      103899   94171  Female  disloyal Customer   23  Business travel
103900      103900   73097    Male     Loyal Customer   49  Business travel
103901      103901   68825    Male  disloyal Customer   30  Business travel
103902      103902   54173  Female  disloyal Customer   22  Business travel
103903      103903   62567    Male     Loyal Customer   27  Business travel

           Class  Flight Distance  Inflight wifi service  \
0       Eco Plus              460                      3
1       Business              235                      3
2       Business             1142                      2
3       Business              562                      2
4       Business              214                      3
...          ...              ...                    ...
103899       Eco              192                      2
103900  Business             2347                      4
103901  Business             1995                      1
103902       Eco             1000                      1
103903  Business             1723                      1

        Departure/Arrival time convenient  ...  Inflight entertainment  \
0                                       4  ...                       5
1                                       2  ...                       1
2                                       2  ...                       5
3                                       5  ...                       2
4                                       3  ...                       3
...                                   ...  ...                     ...
103899                                  1  ...                       2
103900                                  4  ...                       5
103901                                  1  ...                       4
103902                                  1  ...                       1
103903                                  3  ...                       1

        On-board service  Leg room service  Baggage handling  Checkin service  \
0                      4                 3                 4                4
1                      1                 5                 3                1
2                      4                 3                 4                4
3                      2                 5                 3                1
4                      3                 4                 4                3
...                  ...               ...               ...              ...
103899                 3                 1                 4                2
103900                 5                 5                 5                5
103901                 3                 2                 4                5
103902                 4                 5                 1                5
103903                 1                 1                 4                4

        Inflight service  Cleanliness  Departure Delay in Minutes  \
0                      5            5                          25
1                      4            1                           1
2                      4            5                           0
3                      4            2                          11
4                      3            3                           0
...                  ...          ...                         ...
103899                 3            2                           3
103900                 5            4                           0
103901                 5            4                           7
103902                 4            1                           0
103903                 3            1                           0

        Arrival Delay in Minutes             satisfaction
0                           18.0  neutral or dissatisfied
1                            6.0  neutral or dissatisfied
2                            0.0                satisfied
3                            9.0  neutral or dissatisfied
4                            0.0                satisfied
...                          ...                      ...
103899                       0.0  neutral or dissatisfied
103900                       0.0                satisfied
103901                      14.0  neutral or dissatisfied
103902                       0.0  neutral or dissatisfied
103903                       0.0  neutral or dissatisfied

[103904 rows x 25 columns]>

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103904 entries, 0 to 103903
Data columns (total 25 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Unnamed: 0                         103904 non-null  int64
 1   id                                 103904 non-null  int64
 2   Gender                             103904 non-null  object
 3   Customer Type                      103904 non-null  object
 4   Age                                103904 non-null  int64
 5   Type of Travel                     103904 non-null  object
 6   Class                              103904 non-null  object
 7   Flight Distance                    103904 non-null  int64
 8   Inflight wifi service              103904 non-null  int64
 9   Departure/Arrival time convenient  103904 non-null  int64
 10  Ease of Online booking             103904 non-null  int64
 11  Gate location                      103904 non-null  int64
 12  Food and drink                     103904 non-null  int64
 13  Online boarding                    103904 non-null  int64
 14  Seat comfort                       103904 non-null  int64
 15  Inflight entertainment             103904 non-null  int64
 16  On-board service                   103904 non-null  int64
 17  Leg room service                   103904 non-null  int64
 18  Baggage handling                   103904 non-null  int64
 19  Checkin service                    103904 non-null  int64
 20  Inflight service                   103904 non-null  int64
 21  Cleanliness                        103904 non-null  int64
 22  Departure Delay in Minutes         103904 non-null  int64
 23  Arrival Delay in Minutes           103594 non-null  float64
 24  satisfaction                       103904 non-null  object
dtypes: float64(1), int64(19), object(5)
memory usage: 19.8+ MB

In [5]:
df.id[df.id.duplicated()]

Series([], Name: id, dtype: int64)

In [6]:
df = df.drop('Unnamed: 0', axis=1)
print(df)

            id  Gender      Customer Type  Age   Type of Travel     Class  \
0        70172    Male     Loyal Customer   13  Personal Travel  Eco Plus
1         5047    Male  disloyal Customer   25  Business travel  Business
2       110028  Female     Loyal Customer   26  Business travel  Business
3        24026  Female     Loyal Customer   25  Business travel  Business
4       119299    Male     Loyal Customer   61  Business travel  Business
...        ...     ...                ...  ...              ...       ...
103899   94171  Female  disloyal Customer   23  Business travel       Eco
103900   73097    Male     Loyal Customer   49  Business travel  Business
103901   68825    Male  disloyal Customer   30  Business travel  Business
103902   54173  Female  disloyal Customer   22  Business travel       Eco
103903   62567    Male     Loyal Customer   27  Business travel  Business

        Flight Distance  Inflight wifi service  \
0                   460                      3
1                   235                      3
2                  1142                      2
3                   562                      2
4                   214                      3
...                 ...                    ...
103899              192                      2
103900             2347                      4
103901             1995                      1
103902             1000                      1
103903             1723                      1

        Departure/Arrival time convenient  Ease of Online booking  ...  \
0                                       4                       3  ...
1                                       2                       3  ...
2                                       2                       2  ...
3                                       5                       5  ...
4                                       3                       3  ...
...                                   ...                     ...  ...
103899                                  1                       2  ...
103900                                  4                       4  ...
103901                                  1                       1  ...
103902                                  1                       1  ...
103903                                  3                       3  ...

        Inflight entertainment  On-board service  Leg room service  \
0                            5                 4                 3
1                            1                 1                 5
2                            5                 4                 3
3                            2                 2                 5
4                            3                 3                 4
...                        ...               ...               ...
103899                       2                 3                 1
103900                       5                 5                 5
103901                       4                 3                 2
103902                       1                 4                 5
103903                       1                 1                 1

        Baggage handling  Checkin service  Inflight service  Cleanliness  \
0                      4                4                 5            5
1                      3                1                 4            1
2                      4                4                 4            5
3                      3                1                 4            2
4                      4                3                 3            3
...                  ...              ...               ...          ...
103899                 4                2                 3            2
103900                 5                5                 5            4
103901                 4                5                 5            4
103902                 1                5                 4            1
103903                 4                4                 3            1

        Departure Delay in Minutes  Arrival Delay in Minutes  \
0                               25                      18.0
1                                1                       6.0
2                                0                       0.0
3                               11                       9.0
4                                0                       0.0
...                            ...                       ...
103899                           3                       0.0
103900                           0                       0.0
103901                           7                      14.0
103902                           0                       0.0
103903                           0                       0.0

                   satisfaction
0       neutral or dissatisfied
1       neutral or dissatisfied
2                     satisfied
3       neutral or dissatisfied
4                     satisfied
...                         ...
103899  neutral or dissatisfied
103900                satisfied
103901  neutral or dissatisfied
103902  neutral or dissatisfied
103903  neutral or dissatisfied

[103904 rows x 24 columns]

In [7]:
# Pass the connection string to a variable, conn_url
conn_url = 'postgresql://postgres:123@localhost/Project'

# Create an engine that connects to PostgreSQL server
engine = create_engine(conn_url)

# Establish a connection
connection = engine.connect()

In [8]:
create_customer_type_table = """
    CREATE TABLE IF NOT EXISTS customer_type (
        customer_type_id SERIAL PRIMARY KEY,
        customer_type VARCHAR(50)
    );
    """
    
create_travel_type_table = """
    CREATE TABLE IF NOT EXISTS travel_type (
        travel_type_id SERIAL PRIMARY KEY,
        type_of_travel VARCHAR(50)
    );
    """
    
create_class_table = """
    CREATE TABLE IF NOT EXISTS class (
        class_id SERIAL PRIMARY KEY,
        class VARCHAR(50)
    );
    """
    
create_eservices_rating_table = """
    CREATE TABLE IF NOT EXISTS eservices_rating (
        eservicesrating_id SERIAL PRIMARY KEY,
        ease_of_online_booking INTEGER CHECK (ease_of_online_booking BETWEEN 0 AND 5),
        online_boarding INTEGER CHECK (online_boarding BETWEEN 0 AND 5)
    );
    """
    
create_delays_table = """
    CREATE TABLE IF NOT EXISTS delays (
        delay_id SERIAL PRIMARY KEY,
        departure_delay_in_minutes INTEGER,
        arrival_delay_in_minutes INTEGER
    );
    """
    
create_seat_rating_table = """
    CREATE TABLE IF NOT EXISTS seat_rating (
        seatservicerating_id SERIAL PRIMARY KEY,
        seat_comfort INTEGER CHECK (seat_comfort BETWEEN 0 AND 5),
        legroom_service INTEGER CHECK (legroom_service BETWEEN 0 AND 5)
    );
    """
    
create_inflight_rating_table = """
    CREATE TABLE IF NOT EXISTS inflight_rating (
        inflightservicesrating_id SERIAL PRIMARY KEY,
        inflight_wifi_service INTEGER CHECK (inflight_wifi_service BETWEEN 0 AND 5),
        inflight_entertainment INTEGER CHECK (inflight_entertainment BETWEEN 0 AND 5),
        food_and_drink INTEGER CHECK (food_and_drink BETWEEN 0 AND 5),
        inflight_service INTEGER CHECK (inflight_service BETWEEN 0 AND 5)
    );
    """
    
create_satisfaction_table = """
    CREATE TABLE IF NOT EXISTS satisfaction (
        satisfaction_id SERIAL PRIMARY KEY,
        satisfaction VARCHAR(50)
    );
    """
    
create_passenger_table = """
    CREATE TABLE IF NOT EXISTS passenger (
        passenger_id SERIAL PRIMARY KEY,
        gender VARCHAR(10),
        age INTEGER,
        customer_type_id INTEGER,
        FOREIGN KEY (customer_type_id) REFERENCES customer_type(customer_type_id)
    );
    """
    
create_travel_info_table = """
    CREATE TABLE IF NOT EXISTS travel_info (
        travel_id SERIAL PRIMARY KEY,
        travel_type_id INTEGER,
        class_id INTEGER,
        flight_distance INTEGER,
        FOREIGN KEY (travel_type_id) REFERENCES travel_type(travel_type_id),
        FOREIGN KEY (class_id) REFERENCES class(class_id)
    );
    """
    
create_groundservices_rating_table = """
    CREATE TABLE IF NOT EXISTS groundservices_rating (
        groundservicesrating_id SERIAL PRIMARY KEY,
        checkin_service INTEGER CHECK (checkin_service BETWEEN 0 AND 5),
        gate_location INTEGER CHECK (gate_location BETWEEN 0 AND 5),
        baggage_handling INTEGER CHECK (baggage_handling BETWEEN 0 AND 5)
    );
    """
    
create_operations_rating_table = """
    CREATE TABLE IF NOT EXISTS operations_rating (
        operationsrating_id SERIAL PRIMARY KEY,
        departure_arrival_time_convenient INTEGER CHECK (departure_arrival_time_convenient BETWEEN 0 AND 5),
        delay_id INTEGER,
        FOREIGN KEY (delay_id) REFERENCES delays(delay_id)
    );
    """
    
create_onboard_rating_table = """
    CREATE TABLE IF NOT EXISTS onboard_rating (
        onboardservicesrating_id SERIAL PRIMARY KEY,
        cleanliness INTEGER CHECK (cleanliness BETWEEN 0 AND 5),
        onboard_service INTEGER CHECK (onboard_service BETWEEN 0 AND 5),
        seatservicerating_id INTEGER,
        inflightservicesrating_id INTEGER,
        FOREIGN KEY (seatservicerating_id) REFERENCES seat_rating(seatservicerating_id),
        FOREIGN KEY (inflightservicesrating_id) REFERENCES inflight_rating(inflightservicesrating_id)
    );
    """
    
create_services_rating_table = """
    CREATE TABLE IF NOT EXISTS services_rating (
        servicerating_id SERIAL PRIMARY KEY,
        eservicesrating_id INTEGER,
        operationsrating_id INTEGER,
        groundservicesrating_id INTEGER,
        onboardservicesrating_id INTEGER,
        FOREIGN KEY (eservicesrating_id) REFERENCES eservices_rating(eservicesrating_id),
        FOREIGN KEY (operationsrating_id) REFERENCES operations_rating(operationsrating_id),
        FOREIGN KEY (groundservicesrating_id) REFERENCES groundservices_rating(groundservicesrating_id),
        FOREIGN KEY (onboardservicesrating_id) REFERENCES onboard_rating(onboardservicesrating_id)
    );
    """
    
create_survey_table = """
    CREATE TABLE IF NOT EXISTS survey (
        survey_id INTEGER PRIMARY KEY,
        passenger_id INTEGER,
        travel_id INTEGER,
        servicerating_id INTEGER,
        satisfaction_id INTEGER,
        FOREIGN KEY (passenger_id) REFERENCES passenger(passenger_id),
        FOREIGN KEY (travel_id) REFERENCES travel_info(travel_id),
        FOREIGN KEY (servicerating_id) REFERENCES services_rating(servicerating_id),
        FOREIGN KEY (satisfaction_id) REFERENCES satisfaction(satisfaction_id)
    );
    """
    
# Execute the SQL statements to create the tables
engine.execute(create_customer_type_table)
engine.execute(create_travel_type_table)
engine.execute(create_class_table)
engine.execute(create_eservices_rating_table)
engine.execute(create_delays_table)
engine.execute(create_seat_rating_table)
engine.execute(create_inflight_rating_table)
engine.execute(create_satisfaction_table)
engine.execute(create_passenger_table)
engine.execute(create_travel_info_table)
engine.execute(create_groundservices_rating_table)
engine.execute(create_operations_rating_table)
engine.execute(create_onboard_rating_table)
engine.execute(create_services_rating_table)
engine.execute(create_survey_table)

In [9]:
df.rename(columns={'id': 'survey_id', 'Gender': 'gender', 'Customer Type': 'customer_type', 'Age': 'age', 'Type of Travel': 'type_of_travel', 'Class': 'class_type', 'Flight Distance': 'flight_distance', 'Inflight wifi service': 'inflight_wifi_service', 'Departure/Arrival time convenient': 'departure_arrival_time_convenient', 'Ease of Online booking': 'ease_of_online_booking', 'Gate location': 'gate_location', 'Food and drink': 'food_and_drink', 'Online boarding': 'online_boarding', 'Seat comfort': 'seat_comfort', 'Inflight entertainment': 'inflight_entertainment', 'On-board service': 'onboard_service', 'Leg room service': 'legroom_service', 'Baggage handling': 'baggage_handling', 'Checkin service': 'checkin_service', 'Inflight service': 'inflight_service', 'Cleanliness': 'cleanliness', 'Departure Delay in Minutes': 'departure_delay_in_minutes','Arrival Delay in Minutes': 'arrival_delay_in_minutes'}, inplace=True)
print(df)

        survey_id  gender      customer_type  age   type_of_travel class_type  \
0           70172    Male     Loyal Customer   13  Personal Travel   Eco Plus
1            5047    Male  disloyal Customer   25  Business travel   Business
2          110028  Female     Loyal Customer   26  Business travel   Business
3           24026  Female     Loyal Customer   25  Business travel   Business
4          119299    Male     Loyal Customer   61  Business travel   Business
...           ...     ...                ...  ...              ...        ...
103899      94171  Female  disloyal Customer   23  Business travel        Eco
103900      73097    Male     Loyal Customer   49  Business travel   Business
103901      68825    Male  disloyal Customer   30  Business travel   Business
103902      54173  Female  disloyal Customer   22  Business travel        Eco
103903      62567    Male     Loyal Customer   27  Business travel   Business

        flight_distance  inflight_wifi_service  \
0                   460                      3
1                   235                      3
2                  1142                      2
3                   562                      2
4                   214                      3
...                 ...                    ...
103899              192                      2
103900             2347                      4
103901             1995                      1
103902             1000                      1
103903             1723                      1

        departure_arrival_time_convenient  ease_of_online_booking  ...  \
0                                       4                       3  ...
1                                       2                       3  ...
2                                       2                       2  ...
3                                       5                       5  ...
4                                       3                       3  ...
...                                   ...                     ...  ...
103899                                  1                       2  ...
103900                                  4                       4  ...
103901                                  1                       1  ...
103902                                  1                       1  ...
103903                                  3                       3  ...

        inflight_entertainment  onboard_service  legroom_service  \
0                            5                4                3
1                            1                1                5
2                            5                4                3
3                            2                2                5
4                            3                3                4
...                        ...              ...              ...
103899                       2                3                1
103900                       5                5                5
103901                       4                3                2
103902                       1                4                5
103903                       1                1                1

        baggage_handling  checkin_service  inflight_service  cleanliness  \
0                      4                4                 5            5
1                      3                1                 4            1
2                      4                4                 4            5
3                      3                1                 4            2
4                      4                3                 3            3
...                  ...              ...               ...          ...
103899                 4                2                 3            2
103900                 5                5                 5            4
103901                 4                5                 5            4
103902                 1                5                 4            1
103903                 4                4                 3            1

        departure_delay_in_minutes  arrival_delay_in_minutes  \
0                               25                      18.0
1                                1                       6.0
2                                0                       0.0
3                               11                       9.0
4                                0                       0.0
...                            ...                       ...
103899                           3                       0.0
103900                           0                       0.0
103901                           7                      14.0
103902                           0                       0.0
103903                           0                       0.0

                   satisfaction
0       neutral or dissatisfied
1       neutral or dissatisfied
2                     satisfied
3       neutral or dissatisfied
4                     satisfied
...                         ...
103899  neutral or dissatisfied
103900                satisfied
103901  neutral or dissatisfied
103902  neutral or dissatisfied
103903  neutral or dissatisfied

[103904 rows x 24 columns]

In [10]:
df_customertype = pd.DataFrame(columns=['customer_type_id', 'customer_type'])

unique_customer_types = df['customer_type'].unique()
df_customertype['customer_type'] = unique_customer_types

df_customertype['customer_type_id'] = range(1, len(unique_customer_types) + 1)

df_customertype

   customer_type_id      customer_type
0                 1     Loyal Customer
1                 2  disloyal Customer

In [11]:
# Insert data into the 'customer_type' table
df_customertype.to_sql('customer_type', con=engine, if_exists='append', index=False)

2

In [12]:
customertype_id_list = [df_customertype[df_customertype['customer_type'] == customer_type]['customer_type_id'].values[0] for customer_type in df['customer_type']]

df.insert(2, 'customer_type_id', customertype_id_list)

df.head

<bound method NDFrame.head of         survey_id  gender  customer_type_id      customer_type  age  \
0           70172    Male                 1     Loyal Customer   13
1            5047    Male                 2  disloyal Customer   25
2          110028  Female                 1     Loyal Customer   26
3           24026  Female                 1     Loyal Customer   25
4          119299    Male                 1     Loyal Customer   61
...           ...     ...               ...                ...  ...
103899      94171  Female                 2  disloyal Customer   23
103900      73097    Male                 1     Loyal Customer   49
103901      68825    Male                 2  disloyal Customer   30
103902      54173  Female                 2  disloyal Customer   22
103903      62567    Male                 1     Loyal Customer   27

         type_of_travel class_type  flight_distance  inflight_wifi_service  \
0       Personal Travel   Eco Plus              460                      3
1       Business travel   Business              235                      3
2       Business travel   Business             1142                      2
3       Business travel   Business              562                      2
4       Business travel   Business              214                      3
...                 ...        ...              ...                    ...
103899  Business travel        Eco              192                      2
103900  Business travel   Business             2347                      4
103901  Business travel   Business             1995                      1
103902  Business travel        Eco             1000                      1
103903  Business travel   Business             1723                      1

        departure_arrival_time_convenient  ...  inflight_entertainment  \
0                                       4  ...                       5
1                                       2  ...                       1
2                                       2  ...                       5
3                                       5  ...                       2
4                                       3  ...                       3
...                                   ...  ...                     ...
103899                                  1  ...                       2
103900                                  4  ...                       5
103901                                  1  ...                       4
103902                                  1  ...                       1
103903                                  3  ...                       1

        onboard_service  legroom_service  baggage_handling  checkin_service  \
0                     4                3                 4                4
1                     1                5                 3                1
2                     4                3                 4                4
3                     2                5                 3                1
4                     3                4                 4                3
...                 ...              ...               ...              ...
103899                3                1                 4                2
103900                5                5                 5                5
103901                3                2                 4                5
103902                4                5                 1                5
103903                1                1                 4                4

        inflight_service  cleanliness  departure_delay_in_minutes  \
0                      5            5                          25
1                      4            1                           1
2                      4            5                           0
3                      4            2                          11
4                      3            3                           0
...                  ...          ...                         ...
103899                 3            2                           3
103900                 5            4                           0
103901                 5            4                           7
103902                 4            1                           0
103903                 3            1                           0

        arrival_delay_in_minutes             satisfaction
0                           18.0  neutral or dissatisfied
1                            6.0  neutral or dissatisfied
2                            0.0                satisfied
3                            9.0  neutral or dissatisfied
4                            0.0                satisfied
...                          ...                      ...
103899                       0.0  neutral or dissatisfied
103900                       0.0                satisfied
103901                      14.0  neutral or dissatisfied
103902                       0.0  neutral or dissatisfied
103903                       0.0  neutral or dissatisfied

[103904 rows x 25 columns]>

In [13]:
df_traveltype = pd.DataFrame(columns=['travel_type_id', 'type_of_travel'])

unique_travel_types = df['type_of_travel'].unique()
df_traveltype['type_of_travel'] = unique_travel_types

df_traveltype['travel_type_id'] = range(1, len(unique_travel_types) + 1)

df_traveltype

   travel_type_id   type_of_travel
0               1  Personal Travel
1               2  Business travel

In [14]:
# Insert data into the 'travel_type' table
df_traveltype.to_sql('travel_type', con=engine, if_exists='append', index=False)

2

In [15]:
traveltype_id_list = [df_traveltype[df_traveltype['type_of_travel'] == type_of_travel]['travel_type_id'].values[0] for type_of_travel in df['type_of_travel']]

df.insert(5, 'travel_type_id', traveltype_id_list)

df.head

<bound method NDFrame.head of         survey_id  gender  customer_type_id      customer_type  age  \
0           70172    Male                 1     Loyal Customer   13
1            5047    Male                 2  disloyal Customer   25
2          110028  Female                 1     Loyal Customer   26
3           24026  Female                 1     Loyal Customer   25
4          119299    Male                 1     Loyal Customer   61
...           ...     ...               ...                ...  ...
103899      94171  Female                 2  disloyal Customer   23
103900      73097    Male                 1     Loyal Customer   49
103901      68825    Male                 2  disloyal Customer   30
103902      54173  Female                 2  disloyal Customer   22
103903      62567    Male                 1     Loyal Customer   27

        travel_type_id   type_of_travel class_type  flight_distance  \
0                    1  Personal Travel   Eco Plus              460
1                    2  Business travel   Business              235
2                    2  Business travel   Business             1142
3                    2  Business travel   Business              562
4                    2  Business travel   Business              214
...                ...              ...        ...              ...
103899               2  Business travel        Eco              192
103900               2  Business travel   Business             2347
103901               2  Business travel   Business             1995
103902               2  Business travel        Eco             1000
103903               2  Business travel   Business             1723

        inflight_wifi_service  ...  inflight_entertainment  onboard_service  \
0                           3  ...                       5                4
1                           3  ...                       1                1
2                           2  ...                       5                4
3                           2  ...                       2                2
4                           3  ...                       3                3
...                       ...  ...                     ...              ...
103899                      2  ...                       2                3
103900                      4  ...                       5                5
103901                      1  ...                       4                3
103902                      1  ...                       1                4
103903                      1  ...                       1                1

        legroom_service  baggage_handling  checkin_service  inflight_service  \
0                     3                 4                4                 5
1                     5                 3                1                 4
2                     3                 4                4                 4
3                     5                 3                1                 4
4                     4                 4                3                 3
...                 ...               ...              ...               ...
103899                1                 4                2                 3
103900                5                 5                5                 5
103901                2                 4                5                 5
103902                5                 1                5                 4
103903                1                 4                4                 3

        cleanliness  departure_delay_in_minutes  arrival_delay_in_minutes  \
0                 5                          25                      18.0
1                 1                           1                       6.0
2                 5                           0                       0.0
3                 2                          11                       9.0
4                 3                           0                       0.0
...             ...                         ...                       ...
103899            2                           3                       0.0
103900            4                           0                       0.0
103901            4                           7                      14.0
103902            1                           0                       0.0
103903            1                           0                       0.0

                   satisfaction
0       neutral or dissatisfied
1       neutral or dissatisfied
2                     satisfied
3       neutral or dissatisfied
4                     satisfied
...                         ...
103899  neutral or dissatisfied
103900                satisfied
103901  neutral or dissatisfied
103902  neutral or dissatisfied
103903  neutral or dissatisfied

[103904 rows x 26 columns]>

In [16]:
df_class = pd.DataFrame(columns=['class_id', 'class'])

unique_class_types = df['class_type'].unique()
df_class['class'] = unique_class_types

df_class['class_id'] = range(1, len(unique_class_types) + 1)

df_class

   class_id     class
0         1  Eco Plus
1         2  Business
2         3       Eco

In [17]:
# Insert data into the 'class' table
df_class.to_sql('class', con=engine, if_exists='append', index=False)

3

In [18]:
class_id_list = [df_class[df_class['class'] == class_type]['class_id'].values[0] for class_type in df['class_type']]

df.insert(7, 'class_id', class_id_list)

df.head

<bound method NDFrame.head of         survey_id  gender  customer_type_id      customer_type  age  \
0           70172    Male                 1     Loyal Customer   13
1            5047    Male                 2  disloyal Customer   25
2          110028  Female                 1     Loyal Customer   26
3           24026  Female                 1     Loyal Customer   25
4          119299    Male                 1     Loyal Customer   61
...           ...     ...               ...                ...  ...
103899      94171  Female                 2  disloyal Customer   23
103900      73097    Male                 1     Loyal Customer   49
103901      68825    Male                 2  disloyal Customer   30
103902      54173  Female                 2  disloyal Customer   22
103903      62567    Male                 1     Loyal Customer   27

        travel_type_id   type_of_travel  class_id class_type  flight_distance  \
0                    1  Personal Travel         1   Eco Plus              460
1                    2  Business travel         2   Business              235
2                    2  Business travel         2   Business             1142
3                    2  Business travel         2   Business              562
4                    2  Business travel         2   Business              214
...                ...              ...       ...        ...              ...
103899               2  Business travel         3        Eco              192
103900               2  Business travel         2   Business             2347
103901               2  Business travel         2   Business             1995
103902               2  Business travel         3        Eco             1000
103903               2  Business travel         2   Business             1723

        ...  inflight_entertainment  onboard_service  legroom_service  \
0       ...                       5                4                3
1       ...                       1                1                5
2       ...                       5                4                3
3       ...                       2                2                5
4       ...                       3                3                4
...     ...                     ...              ...              ...
103899  ...                       2                3                1
103900  ...                       5                5                5
103901  ...                       4                3                2
103902  ...                       1                4                5
103903  ...                       1                1                1

        baggage_handling  checkin_service  inflight_service  cleanliness  \
0                      4                4                 5            5
1                      3                1                 4            1
2                      4                4                 4            5
3                      3                1                 4            2
4                      4                3                 3            3
...                  ...              ...               ...          ...
103899                 4                2                 3            2
103900                 5                5                 5            4
103901                 4                5                 5            4
103902                 1                5                 4            1
103903                 4                4                 3            1

        departure_delay_in_minutes  arrival_delay_in_minutes  \
0                               25                      18.0
1                                1                       6.0
2                                0                       0.0
3                               11                       9.0
4                                0                       0.0
...                            ...                       ...
103899                           3                       0.0
103900                           0                       0.0
103901                           7                      14.0
103902                           0                       0.0
103903                           0                       0.0

                   satisfaction
0       neutral or dissatisfied
1       neutral or dissatisfied
2                     satisfied
3       neutral or dissatisfied
4                     satisfied
...                         ...
103899  neutral or dissatisfied
103900                satisfied
103901  neutral or dissatisfied
103902  neutral or dissatisfied
103903  neutral or dissatisfied

[103904 rows x 27 columns]>

In [20]:
df_eservices_rating = df[['ease_of_online_booking', 'online_boarding']].drop_duplicates().reset_index(drop=True)
df_eservices_rating['eservicesrating_id'] = df_eservices_rating.index + 1
df_eservices_rating.head

In [22]:
# Insert data into the 'eservices_rating' table
df_eservices_rating[['eservicesrating_id', 'ease_of_online_booking', 'online_boarding']].to_sql('eservices_rating', con=engine, if_exists='append', index=False)

33

In [23]:
# Merge into df
df = df.merge(df_eservices_rating, on=['ease_of_online_booking', 'online_boarding'], how='left')

# Store the id column in a temporary variable 
eservicesrating_id_column = df['eservicesrating_id']

# Drop it from df and Insert the id column at the desired position
df = df.drop('eservicesrating_id', axis=1)
df.insert(13, 'eservicesrating_id', eservicesrating_id_column)
df.head

<bound method NDFrame.head of         survey_id  gender  customer_type_id      customer_type  age  \
0           70172    Male                 1     Loyal Customer   13
1            5047    Male                 2  disloyal Customer   25
2          110028  Female                 1     Loyal Customer   26
3           24026  Female                 1     Loyal Customer   25
4          119299    Male                 1     Loyal Customer   61
...           ...     ...               ...                ...  ...
103899      94171  Female                 2  disloyal Customer   23
103900      73097    Male                 1     Loyal Customer   49
103901      68825    Male                 2  disloyal Customer   30
103902      54173  Female                 2  disloyal Customer   22
103903      62567    Male                 1     Loyal Customer   27

        travel_type_id   type_of_travel  class_id class_type  flight_distance  \
0                    1  Personal Travel         1   Eco Plus              460
1                    2  Business travel         2   Business              235
2                    2  Business travel         2   Business             1142
3                    2  Business travel         2   Business              562
4                    2  Business travel         2   Business              214
...                ...              ...       ...        ...              ...
103899               2  Business travel         3        Eco              192
103900               2  Business travel         2   Business             2347
103901               2  Business travel         2   Business             1995
103902               2  Business travel         3        Eco             1000
103903               2  Business travel         2   Business             1723

        ...  inflight_entertainment  onboard_service  legroom_service  \
0       ...                       5                4                3
1       ...                       1                1                5
2       ...                       5                4                3
3       ...                       2                2                5
4       ...                       3                3                4
...     ...                     ...              ...              ...
103899  ...                       2                3                1
103900  ...                       5                5                5
103901  ...                       4                3                2
103902  ...                       1                4                5
103903  ...                       1                1                1

        baggage_handling  checkin_service  inflight_service  cleanliness  \
0                      4                4                 5            5
1                      3                1                 4            1
2                      4                4                 4            5
3                      3                1                 4            2
4                      4                3                 3            3
...                  ...              ...               ...          ...
103899                 4                2                 3            2
103900                 5                5                 5            4
103901                 4                5                 5            4
103902                 1                5                 4            1
103903                 4                4                 3            1

        departure_delay_in_minutes  arrival_delay_in_minutes  \
0                               25                      18.0
1                                1                       6.0
2                                0                       0.0
3                               11                       9.0
4                                0                       0.0
...                            ...                       ...
103899                           3                       0.0
103900                           0                       0.0
103901                           7                      14.0
103902                           0                       0.0
103903                           0                       0.0

                   satisfaction
0       neutral or dissatisfied
1       neutral or dissatisfied
2                     satisfied
3       neutral or dissatisfied
4                     satisfied
...                         ...
103899  neutral or dissatisfied
103900                satisfied
103901  neutral or dissatisfied
103902  neutral or dissatisfied
103903  neutral or dissatisfied

[103904 rows x 28 columns]>

In [24]:
df_delay = df[['departure_delay_in_minutes', 'arrival_delay_in_minutes']].drop_duplicates().reset_index(drop=True)
df_delay['delay_id'] = df_delay.index + 1
df_delay.head

<bound method NDFrame.head of       departure_delay_in_minutes  arrival_delay_in_minutes  delay_id
0                             25                      18.0         1
1                              1                       6.0         2
2                              0                       0.0         3
3                             11                       9.0         4
4                              9                      23.0         5
...                          ...                       ...       ...
8218                          86                      90.0      8219
8219                         225                     222.0      8220
8220                         171                     156.0      8221
8221                          24                      37.0      8222
8222                         212                     206.0      8223

[8223 rows x 3 columns]>

In [25]:
# Insert data into the 'delay' table
df_delay[['delay_id', 'departure_delay_in_minutes', 'arrival_delay_in_minutes']].to_sql('delays', con=engine, if_exists='append', index=False)

223

In [26]:
# Merge df_delay into df
df = df.merge(df_delay, on=['departure_delay_in_minutes', 'arrival_delay_in_minutes'], how='left')

# Store the delay_id column in a temporary variable 
delay_id_column = df['delay_id']

# Drop it from df and Insert the delay_id column at the desired position
df = df.drop('delay_id', axis=1)
df.insert(24, 'delay_id', delay_id_column)
df.head

<bound method NDFrame.head of         survey_id  gender  customer_type_id      customer_type  age  \
0           70172    Male                 1     Loyal Customer   13
1            5047    Male                 2  disloyal Customer   25
2          110028  Female                 1     Loyal Customer   26
3           24026  Female                 1     Loyal Customer   25
4          119299    Male                 1     Loyal Customer   61
...           ...     ...               ...                ...  ...
103899      94171  Female                 2  disloyal Customer   23
103900      73097    Male                 1     Loyal Customer   49
103901      68825    Male                 2  disloyal Customer   30
103902      54173  Female                 2  disloyal Customer   22
103903      62567    Male                 1     Loyal Customer   27

        travel_type_id   type_of_travel  class_id class_type  flight_distance  \
0                    1  Personal Travel         1   Eco Plus              460
1                    2  Business travel         2   Business              235
2                    2  Business travel         2   Business             1142
3                    2  Business travel         2   Business              562
4                    2  Business travel         2   Business              214
...                ...              ...       ...        ...              ...
103899               2  Business travel         3        Eco              192
103900               2  Business travel         2   Business             2347
103901               2  Business travel         2   Business             1995
103902               2  Business travel         3        Eco             1000
103903               2  Business travel         2   Business             1723

        ...  onboard_service  legroom_service  baggage_handling  \
0       ...                4                3                 4
1       ...                1                5                 3
2       ...                4                3                 4
3       ...                2                5                 3
4       ...                3                4                 4
...     ...              ...              ...               ...
103899  ...                3                1                 4
103900  ...                5                5                 5
103901  ...                3                2                 4
103902  ...                4                5                 1
103903  ...                1                1                 4

        checkin_service  inflight_service  delay_id  cleanliness  \
0                     4                 5         1            5
1                     1                 4         2            1
2                     4                 4         3            5
3                     1                 4         4            2
4                     3                 3         3            3
...                 ...               ...       ...          ...
103899                2                 3        21            2
103900                5                 5         3            4
103901                5                 5       721            4
103902                5                 4         3            1
103903                4                 3         3            1

        departure_delay_in_minutes  arrival_delay_in_minutes  \
0                               25                      18.0
1                                1                       6.0
2                                0                       0.0
3                               11                       9.0
4                                0                       0.0
...                            ...                       ...
103899                           3                       0.0
103900                           0                       0.0
103901                           7                      14.0
103902                           0                       0.0
103903                           0                       0.0

                   satisfaction
0       neutral or dissatisfied
1       neutral or dissatisfied
2                     satisfied
3       neutral or dissatisfied
4                     satisfied
...                         ...
103899  neutral or dissatisfied
103900                satisfied
103901  neutral or dissatisfied
103902  neutral or dissatisfied
103903  neutral or dissatisfied

[103904 rows x 29 columns]>

In [27]:
df_seat_rating = df[['seat_comfort', 'legroom_service']].drop_duplicates().reset_index(drop=True)
df_seat_rating['seatservicerating_id'] = df_seat_rating.index + 1
df_seat_rating.head

<bound method NDFrame.head of     seat_comfort  legroom_service  seatservicerating_id
0              5                3                     1
1              1                5                     2
2              2                5                     3
3              5                4                     4
4              1                4                     5
5              2                3                     6
6              5                5                     7
7              3                2                     8
8              3                3                     9
9              1                2                    10
10             1                1                    11
11             4                5                    12
12             4                3                    13
13             5                2                    14
14             4                4                    15
15             3                4                    16
16             1                3                    17
17             5                1                    18
18             2                4                    19
19             2                1                    20
20             3                5                    21
21             4                2                    22
22             4                1                    23
23             3                1                    24
24             2                2                    25
25             4                0                    26
26             5                0                    27
27             3                0                    28
28             2                0                    29
29             0                3                    30
30             1                0                    31>

In [28]:
# Insert data into the 'seat_rating' table
df_seat_rating[['seatservicerating_id', 'seat_comfort', 'legroom_service']].to_sql('seat_rating', con=engine, if_exists='append', index=False)

31

In [29]:
# Merge into df
df = df.merge(df_seat_rating, on=['seat_comfort', 'legroom_service'], how='left')

# Store the id column in a temporary variable 
seatservicerating_id_column = df['seatservicerating_id']

# Drop it from df and Insert the id column at the desired position
df = df.drop('seatservicerating_id', axis=1)
df.insert(16, 'seatservicerating_id', seatservicerating_id_column)
df.head

<bound method NDFrame.head of         survey_id  gender  customer_type_id      customer_type  age  \
0           70172    Male                 1     Loyal Customer   13
1            5047    Male                 2  disloyal Customer   25
2          110028  Female                 1     Loyal Customer   26
3           24026  Female                 1     Loyal Customer   25
4          119299    Male                 1     Loyal Customer   61
...           ...     ...               ...                ...  ...
103899      94171  Female                 2  disloyal Customer   23
103900      73097    Male                 1     Loyal Customer   49
103901      68825    Male                 2  disloyal Customer   30
103902      54173  Female                 2  disloyal Customer   22
103903      62567    Male                 1     Loyal Customer   27

        travel_type_id   type_of_travel  class_id class_type  flight_distance  \
0                    1  Personal Travel         1   Eco Plus              460
1                    2  Business travel         2   Business              235
2                    2  Business travel         2   Business             1142
3                    2  Business travel         2   Business              562
4                    2  Business travel         2   Business              214
...                ...              ...       ...        ...              ...
103899               2  Business travel         3        Eco              192
103900               2  Business travel         2   Business             2347
103901               2  Business travel         2   Business             1995
103902               2  Business travel         3        Eco             1000
103903               2  Business travel         2   Business             1723

        ...  onboard_service  legroom_service  baggage_handling  \
0       ...                4                3                 4
1       ...                1                5                 3
2       ...                4                3                 4
3       ...                2                5                 3
4       ...                3                4                 4
...     ...              ...              ...               ...
103899  ...                3                1                 4
103900  ...                5                5                 5
103901  ...                3                2                 4
103902  ...                4                5                 1
103903  ...                1                1                 4

        checkin_service  inflight_service  delay_id  cleanliness  \
0                     4                 5         1            5
1                     1                 4         2            1
2                     4                 4         3            5
3                     1                 4         4            2
4                     3                 3         3            3
...                 ...               ...       ...          ...
103899                2                 3        21            2
103900                5                 5         3            4
103901                5                 5       721            4
103902                5                 4         3            1
103903                4                 3         3            1

        departure_delay_in_minutes  arrival_delay_in_minutes  \
0                               25                      18.0
1                                1                       6.0
2                                0                       0.0
3                               11                       9.0
4                                0                       0.0
...                            ...                       ...
103899                           3                       0.0
103900                           0                       0.0
103901                           7                      14.0
103902                           0                       0.0
103903                           0                       0.0

                   satisfaction
0       neutral or dissatisfied
1       neutral or dissatisfied
2                     satisfied
3       neutral or dissatisfied
4                     satisfied
...                         ...
103899  neutral or dissatisfied
103900                satisfied
103901  neutral or dissatisfied
103902  neutral or dissatisfied
103903  neutral or dissatisfied

[103904 rows x 30 columns]>

In [30]:
df_inflight_rating = df[['inflight_wifi_service', 'inflight_entertainment', 'food_and_drink', 'inflight_service']].drop_duplicates().reset_index(drop=True)
df_inflight_rating['inflightservicesrating_id'] = df_inflight_rating.index + 1
df_inflight_rating.head

<bound method NDFrame.head of      inflight_wifi_service  inflight_entertainment  food_and_drink  \
0                        3                       5               5
1                        3                       1               1
2                        2                       5               5
3                        2                       2               2
4                        3                       3               4
..                     ...                     ...             ...
607                      1                       5               0
608                      1                       5               1
609                      3                       2               1
610                      1                       4               0
611                      0                       4               0

     inflight_service  inflightservicesrating_id
0                   5                          1
1                   4                          2
2                   4                          3
3                   4                          4
4                   3                          5
..                ...                        ...
607                 1                        608
608                 2                        609
609                 1                        610
610                 2                        611
611                 2                        612

[612 rows x 5 columns]>

In [31]:
# Insert data into the 'inflight_rating' table
df_inflight_rating[['inflightservicesrating_id', 'inflight_wifi_service', 'inflight_entertainment', 'food_and_drink', 'inflight_service']].to_sql('inflight_rating', con=engine, if_exists='append', index=False)

612

In [32]:
# Merge into df
df = df.merge(df_inflight_rating, on=['inflight_wifi_service', 'inflight_entertainment', 'food_and_drink', 'inflight_service'], how='left')

# Store the id column in a temporary variable 
inflightservicesrating_id_column = df['inflightservicesrating_id']

# Drop it from df and Insert the id column at the desired position
df = df.drop('inflightservicesrating_id', axis=1)
df.insert(10, 'inflightservicesrating_id', inflightservicesrating_id_column)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103904 entries, 0 to 103903
Data columns (total 31 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   survey_id                          103904 non-null  int64
 1   gender                             103904 non-null  object
 2   customer_type_id                   103904 non-null  int64
 3   customer_type                      103904 non-null  object
 4   age                                103904 non-null  int64
 5   travel_type_id                     103904 non-null  int64
 6   type_of_travel                     103904 non-null  object
 7   class_id                           103904 non-null  int64
 8   class_type                         103904 non-null  object
 9   flight_distance                    103904 non-null  int64
 10  inflightservicesrating_id          103904 non-null  int64
 11  inflight_wifi_service              103904 non-null  int64
 12  departure_arrival_time_convenient  103904 non-null  int64
 13  ease_of_online_booking             103904 non-null  int64
 14  eservicesrating_id                 103904 non-null  int64
 15  gate_location                      103904 non-null  int64
 16  food_and_drink                     103904 non-null  int64
 17  seatservicerating_id               103904 non-null  int64
 18  online_boarding                    103904 non-null  int64
 19  seat_comfort                       103904 non-null  int64
 20  inflight_entertainment             103904 non-null  int64
 21  onboard_service                    103904 non-null  int64
 22  legroom_service                    103904 non-null  int64
 23  baggage_handling                   103904 non-null  int64
 24  checkin_service                    103904 non-null  int64
 25  inflight_service                   103904 non-null  int64
 26  delay_id                           103904 non-null  int64
 27  cleanliness                        103904 non-null  int64
 28  departure_delay_in_minutes         103904 non-null  int64
 29  arrival_delay_in_minutes           103594 non-null  float64
 30  satisfaction                       103904 non-null  object
dtypes: float64(1), int64(25), object(5)
memory usage: 25.4+ MB

In [33]:
df_satisfaction = pd.DataFrame(columns=['satisfaction_id', 'satisfaction'])

unique_satisfaction_types = df['satisfaction'].unique()
df_satisfaction['satisfaction'] = unique_satisfaction_types

df_satisfaction['satisfaction_id'] = range(1, len(unique_satisfaction_types) + 1)

df_satisfaction

   satisfaction_id             satisfaction
0                1  neutral or dissatisfied
1                2                satisfied

In [34]:
# Insert data into the 'satisfaction' table
df_satisfaction.to_sql('satisfaction', con=engine, if_exists='append', index=False)

2

In [36]:
satisfaction_id_list = [df_satisfaction[df_satisfaction['satisfaction'] == satisfaction]['satisfaction_id'].values[0] for satisfaction in df['satisfaction']]

df.insert(30, 'satisfaction_id', satisfaction_id_list)

df.head

<bound method NDFrame.head of         survey_id  gender  customer_type_id      customer_type  age  \
0           70172    Male                 1     Loyal Customer   13
1            5047    Male                 2  disloyal Customer   25
2          110028  Female                 1     Loyal Customer   26
3           24026  Female                 1     Loyal Customer   25
4          119299    Male                 1     Loyal Customer   61
...           ...     ...               ...                ...  ...
103899      94171  Female                 2  disloyal Customer   23
103900      73097    Male                 1     Loyal Customer   49
103901      68825    Male                 2  disloyal Customer   30
103902      54173  Female                 2  disloyal Customer   22
103903      62567    Male                 1     Loyal Customer   27

        travel_type_id   type_of_travel  class_id class_type  flight_distance  \
0                    1  Personal Travel         1   Eco Plus              460
1                    2  Business travel         2   Business              235
2                    2  Business travel         2   Business             1142
3                    2  Business travel         2   Business              562
4                    2  Business travel         2   Business              214
...                ...              ...       ...        ...              ...
103899               2  Business travel         3        Eco              192
103900               2  Business travel         2   Business             2347
103901               2  Business travel         2   Business             1995
103902               2  Business travel         3        Eco             1000
103903               2  Business travel         2   Business             1723

        ...  legroom_service  baggage_handling  checkin_service  \
0       ...                3                 4                4
1       ...                5                 3                1
2       ...                3                 4                4
3       ...                5                 3                1
4       ...                4                 4                3
...     ...              ...               ...              ...
103899  ...                1                 4                2
103900  ...                5                 5                5
103901  ...                2                 4                5
103902  ...                5                 1                5
103903  ...                1                 4                4

        inflight_service  delay_id  cleanliness  departure_delay_in_minutes  \
0                      5         1            5                          25
1                      4         2            1                           1
2                      4         3            5                           0
3                      4         4            2                          11
4                      3         3            3                           0
...                  ...       ...          ...                         ...
103899                 3        21            2                           3
103900                 5         3            4                           0
103901                 5       721            4                           7
103902                 4         3            1                           0
103903                 3         3            1                           0

        arrival_delay_in_minutes  satisfaction_id             satisfaction
0                           18.0                1  neutral or dissatisfied
1                            6.0                1  neutral or dissatisfied
2                            0.0                2                satisfied
3                            9.0                1  neutral or dissatisfied
4                            0.0                2                satisfied
...                          ...              ...                      ...
103899                       0.0                1  neutral or dissatisfied
103900                       0.0                2                satisfied
103901                      14.0                1  neutral or dissatisfied
103902                       0.0                1  neutral or dissatisfied
103903                       0.0                1  neutral or dissatisfied

[103904 rows x 32 columns]>

In [37]:
df_passenger = df[['gender', 'age', 'customer_type_id']].drop_duplicates().reset_index(drop=True)
df_passenger['passenger_id'] = df_passenger.index + 1
df_passenger.head

<bound method NDFrame.head of      gender  age  customer_type_id  passenger_id
0      Male   13                 1             1
1      Male   25                 2             2
2    Female   26                 1             3
3    Female   25                 1             4
4      Male   61                 1             5
..      ...  ...               ...           ...
291    Male   75                 2           292
292  Female   74                 2           293
293    Male   79                 2           294
294  Female   75                 2           295
295  Female   78                 2           296

[296 rows x 4 columns]>

In [38]:
# Insert data into the 'passenger' table
df_passenger[['passenger_id', 'gender', 'age', 'customer_type_id']].to_sql('passenger', con=engine, if_exists='append', index=False)

296

In [39]:
# Merge into df
df = df.merge(df_passenger, on=['gender', 'age', 'customer_type_id'], how='left')

# Store the id column in a temporary variable 
passenger_id_column = df['passenger_id']

# Drop it from df and Insert the id column at the desired position
df = df.drop('passenger_id', axis=1)
df.insert(1, 'passenger_id', passenger_id_column)
df.head

<bound method NDFrame.head of         survey_id  passenger_id  gender  customer_type_id      customer_type  \
0           70172             1    Male                 1     Loyal Customer
1            5047             2    Male                 2  disloyal Customer
2          110028             3  Female                 1     Loyal Customer
3           24026             4  Female                 1     Loyal Customer
4          119299             5    Male                 1     Loyal Customer
...           ...           ...     ...               ...                ...
103899      94171            22  Female                 2  disloyal Customer
103900      73097           113    Male                 1     Loyal Customer
103901      68825           163    Male                 2  disloyal Customer
103902      54173           182  Female                 2  disloyal Customer
103903      62567            48    Male                 1     Loyal Customer

        age  travel_type_id   type_of_travel  class_id class_type  ...  \
0        13               1  Personal Travel         1   Eco Plus  ...
1        25               2  Business travel         2   Business  ...
2        26               2  Business travel         2   Business  ...
3        25               2  Business travel         2   Business  ...
4        61               2  Business travel         2   Business  ...
...     ...             ...              ...       ...        ...  ...
103899   23               2  Business travel         3        Eco  ...
103900   49               2  Business travel         2   Business  ...
103901   30               2  Business travel         2   Business  ...
103902   22               2  Business travel         3        Eco  ...
103903   27               2  Business travel         2   Business  ...

        legroom_service  baggage_handling  checkin_service  inflight_service  \
0                     3                 4                4                 5
1                     5                 3                1                 4
2                     3                 4                4                 4
3                     5                 3                1                 4
4                     4                 4                3                 3
...                 ...               ...              ...               ...
103899                1                 4                2                 3
103900                5                 5                5                 5
103901                2                 4                5                 5
103902                5                 1                5                 4
103903                1                 4                4                 3

        delay_id  cleanliness  departure_delay_in_minutes  \
0              1            5                          25
1              2            1                           1
2              3            5                           0
3              4            2                          11
4              3            3                           0
...          ...          ...                         ...
103899        21            2                           3
103900         3            4                           0
103901       721            4                           7
103902         3            1                           0
103903         3            1                           0

        arrival_delay_in_minutes  satisfaction_id             satisfaction
0                           18.0                1  neutral or dissatisfied
1                            6.0                1  neutral or dissatisfied
2                            0.0                2                satisfied
3                            9.0                1  neutral or dissatisfied
4                            0.0                2                satisfied
...                          ...              ...                      ...
103899                       0.0                1  neutral or dissatisfied
103900                       0.0                2                satisfied
103901                      14.0                1  neutral or dissatisfied
103902                       0.0                1  neutral or dissatisfied
103903                       0.0                1  neutral or dissatisfied

[103904 rows x 33 columns]>

In [40]:
df_travel_info = df[['travel_type_id', 'class_id', 'flight_distance']].drop_duplicates().reset_index(drop=True)
df_travel_info['travel_id'] = df_travel_info.index + 1
df_travel_info.head

<bound method NDFrame.head of       travel_type_id  class_id  flight_distance  travel_id
0                  1         1              460          1
1                  2         2              235          2
2                  2         2             1142          3
3                  2         2              562          4
4                  2         2              214          5
...              ...       ...              ...        ...
8906               1         3             1436       8907
8907               1         1             2562       8908
8908               1         2             2329       8909
8909               2         3             1522       8910
8910               2         3             1727       8911

[8911 rows x 4 columns]>

In [41]:
# Insert data into the 'travel_info' table
df_travel_info[['travel_id', 'travel_type_id', 'class_id', 'flight_distance']].to_sql('travel_info', con=engine, if_exists='append', index=False)

911

In [42]:
# Merge into df
df = df.merge(df_travel_info, on=['travel_type_id', 'class_id', 'flight_distance'], how='left')

# Store the id column in a temporary variable 
travel_id_column = df['travel_id']

# Drop it from df and Insert the id column at the desired position
df = df.drop('travel_id', axis=1)
df.insert(6, 'travel_id', travel_id_column)
df.head

<bound method NDFrame.head of         survey_id  passenger_id  gender  customer_type_id      customer_type  \
0           70172             1    Male                 1     Loyal Customer
1            5047             2    Male                 2  disloyal Customer
2          110028             3  Female                 1     Loyal Customer
3           24026             4  Female                 1     Loyal Customer
4          119299             5    Male                 1     Loyal Customer
...           ...           ...     ...               ...                ...
103899      94171            22  Female                 2  disloyal Customer
103900      73097           113    Male                 1     Loyal Customer
103901      68825           163    Male                 2  disloyal Customer
103902      54173           182  Female                 2  disloyal Customer
103903      62567            48    Male                 1     Loyal Customer

        age  travel_id  travel_type_id   type_of_travel  class_id  ...  \
0        13          1               1  Personal Travel         1  ...
1        25          2               2  Business travel         2  ...
2        26          3               2  Business travel         2  ...
3        25          4               2  Business travel         2  ...
4        61          5               2  Business travel         2  ...
...     ...        ...             ...              ...       ...  ...
103899   23        483               2  Business travel         3  ...
103900   49       2617               2  Business travel         2  ...
103901   30       3585               2  Business travel         2  ...
103902   22       1358               2  Business travel         3  ...
103903   27        620               2  Business travel         2  ...

       legroom_service  baggage_handling  checkin_service  inflight_service  \
0                    3                 4                4                 5
1                    5                 3                1                 4
2                    3                 4                4                 4
3                    5                 3                1                 4
4                    4                 4                3                 3
...                ...               ...              ...               ...
103899               1                 4                2                 3
103900               5                 5                5                 5
103901               2                 4                5                 5
103902               5                 1                5                 4
103903               1                 4                4                 3

        delay_id  cleanliness  departure_delay_in_minutes  \
0              1            5                          25
1              2            1                           1
2              3            5                           0
3              4            2                          11
4              3            3                           0
...          ...          ...                         ...
103899        21            2                           3
103900         3            4                           0
103901       721            4                           7
103902         3            1                           0
103903         3            1                           0

        arrival_delay_in_minutes  satisfaction_id             satisfaction
0                           18.0                1  neutral or dissatisfied
1                            6.0                1  neutral or dissatisfied
2                            0.0                2                satisfied
3                            9.0                1  neutral or dissatisfied
4                            0.0                2                satisfied
...                          ...              ...                      ...
103899                       0.0                1  neutral or dissatisfied
103900                       0.0                2                satisfied
103901                      14.0                1  neutral or dissatisfied
103902                       0.0                1  neutral or dissatisfied
103903                       0.0                1  neutral or dissatisfied

[103904 rows x 34 columns]>

In [43]:
df_groundservices_rating = df[['checkin_service', 'gate_location', 'baggage_handling']].drop_duplicates().reset_index(drop=True)
df_groundservices_rating['groundservicesrating_id'] = df_groundservices_rating.index + 1
df_groundservices_rating.head

<bound method NDFrame.head of      checkin_service  gate_location  baggage_handling  groundservicesrating_id
0                  4              1                 4                        1
1                  1              3                 3                        2
2                  4              2                 4                        3
3                  1              5                 3                        4
4                  3              3                 4                        5
..               ...            ...               ...                      ...
122                2              5                 1                      123
123                2              4                 1                      124
124                5              4                 1                      125
125                0              5                 3                      126
126                3              0                 1                      127

[127 rows x 4 columns]>

In [44]:
# Insert data into the 'groundservices_rating' table
df_groundservices_rating[['groundservicesrating_id', 'checkin_service', 'gate_location', 'baggage_handling']].to_sql('groundservices_rating', con=engine, if_exists='append', index=False)

127

In [45]:
# Merge into df
df = df.merge(df_groundservices_rating, on=['checkin_service', 'gate_location', 'baggage_handling'], how='left')

# Store the id column in a temporary variable 
groundservicesrating_id_column = df['groundservicesrating_id']

# Drop it from df and Insert the id column at the desired position
df = df.drop('groundservicesrating_id', axis=1)
df.insert(15, 'groundservicesrating_id', groundservicesrating_id_column)
df.head

<bound method NDFrame.head of         survey_id  passenger_id  gender  customer_type_id      customer_type  \
0           70172             1    Male                 1     Loyal Customer
1            5047             2    Male                 2  disloyal Customer
2          110028             3  Female                 1     Loyal Customer
3           24026             4  Female                 1     Loyal Customer
4          119299             5    Male                 1     Loyal Customer
...           ...           ...     ...               ...                ...
103899      94171            22  Female                 2  disloyal Customer
103900      73097           113    Male                 1     Loyal Customer
103901      68825           163    Male                 2  disloyal Customer
103902      54173           182  Female                 2  disloyal Customer
103903      62567            48    Male                 1     Loyal Customer

        age  travel_id  travel_type_id   type_of_travel  class_id  ...  \
0        13          1               1  Personal Travel         1  ...
1        25          2               2  Business travel         2  ...
2        26          3               2  Business travel         2  ...
3        25          4               2  Business travel         2  ...
4        61          5               2  Business travel         2  ...
...     ...        ...             ...              ...       ...  ...
103899   23        483               2  Business travel         3  ...
103900   49       2617               2  Business travel         2  ...
103901   30       3585               2  Business travel         2  ...
103902   22       1358               2  Business travel         3  ...
103903   27        620               2  Business travel         2  ...

       legroom_service  baggage_handling  checkin_service  inflight_service  \
0                    3                 4                4                 5
1                    5                 3                1                 4
2                    3                 4                4                 4
3                    5                 3                1                 4
4                    4                 4                3                 3
...                ...               ...              ...               ...
103899               1                 4                2                 3
103900               5                 5                5                 5
103901               2                 4                5                 5
103902               5                 1                5                 4
103903               1                 4                4                 3

        delay_id  cleanliness  departure_delay_in_minutes  \
0              1            5                          25
1              2            1                           1
2              3            5                           0
3              4            2                          11
4              3            3                           0
...          ...          ...                         ...
103899        21            2                           3
103900         3            4                           0
103901       721            4                           7
103902         3            1                           0
103903         3            1                           0

        arrival_delay_in_minutes  satisfaction_id             satisfaction
0                           18.0                1  neutral or dissatisfied
1                            6.0                1  neutral or dissatisfied
2                            0.0                2                satisfied
3                            9.0                1  neutral or dissatisfied
4                            0.0                2                satisfied
...                          ...              ...                      ...
103899                       0.0                1  neutral or dissatisfied
103900                       0.0                2                satisfied
103901                      14.0                1  neutral or dissatisfied
103902                       0.0                1  neutral or dissatisfied
103903                       0.0                1  neutral or dissatisfied

[103904 rows x 35 columns]>

In [46]:
df_operations_rating = df[['departure_arrival_time_convenient', 'delay_id']].drop_duplicates().reset_index(drop=True)
df_operations_rating['operationsrating_id'] = df_operations_rating.index + 1
df_operations_rating.head

<bound method NDFrame.head of        departure_arrival_time_convenient  delay_id  operationsrating_id
0                                      4         1                    1
1                                      2         2                    2
2                                      2         3                    3
3                                      5         4                    4
4                                      3         3                    5
...                                  ...       ...                  ...
17428                                  2       570                17429
17429                                  5      8223                17430
17430                                  2      1405                17431
17431                                  4      1860                17432
17432                                  4      2547                17433

[17433 rows x 3 columns]>

In [47]:
# Insert data into the 'operations_rating' table
df_operations_rating[['operationsrating_id', 'departure_arrival_time_convenient', 'delay_id']].to_sql('operations_rating', con=engine, if_exists='append', index=False)

433

In [48]:
# Merge into df
df = df.merge(df_operations_rating, on=['departure_arrival_time_convenient', 'delay_id'], how='left')

# Store the id column in a temporary variable 
operationsrating_id_column = df['operationsrating_id']

# Drop it from df and Insert the id column at the desired position
df = df.drop('operationsrating_id', axis=1)
df.insert(12, 'operationsrating_id', operationsrating_id_column)
df.head

<bound method NDFrame.head of         survey_id  passenger_id  gender  customer_type_id      customer_type  \
0           70172             1    Male                 1     Loyal Customer
1            5047             2    Male                 2  disloyal Customer
2          110028             3  Female                 1     Loyal Customer
3           24026             4  Female                 1     Loyal Customer
4          119299             5    Male                 1     Loyal Customer
...           ...           ...     ...               ...                ...
103899      94171            22  Female                 2  disloyal Customer
103900      73097           113    Male                 1     Loyal Customer
103901      68825           163    Male                 2  disloyal Customer
103902      54173           182  Female                 2  disloyal Customer
103903      62567            48    Male                 1     Loyal Customer

        age  travel_id  travel_type_id   type_of_travel  class_id  ...  \
0        13          1               1  Personal Travel         1  ...
1        25          2               2  Business travel         2  ...
2        26          3               2  Business travel         2  ...
3        25          4               2  Business travel         2  ...
4        61          5               2  Business travel         2  ...
...     ...        ...             ...              ...       ...  ...
103899   23        483               2  Business travel         3  ...
103900   49       2617               2  Business travel         2  ...
103901   30       3585               2  Business travel         2  ...
103902   22       1358               2  Business travel         3  ...
103903   27        620               2  Business travel         2  ...

       legroom_service  baggage_handling  checkin_service  inflight_service  \
0                    3                 4                4                 5
1                    5                 3                1                 4
2                    3                 4                4                 4
3                    5                 3                1                 4
4                    4                 4                3                 3
...                ...               ...              ...               ...
103899               1                 4                2                 3
103900               5                 5                5                 5
103901               2                 4                5                 5
103902               5                 1                5                 4
103903               1                 4                4                 3

        delay_id  cleanliness  departure_delay_in_minutes  \
0              1            5                          25
1              2            1                           1
2              3            5                           0
3              4            2                          11
4              3            3                           0
...          ...          ...                         ...
103899        21            2                           3
103900         3            4                           0
103901       721            4                           7
103902         3            1                           0
103903         3            1                           0

        arrival_delay_in_minutes  satisfaction_id             satisfaction
0                           18.0                1  neutral or dissatisfied
1                            6.0                1  neutral or dissatisfied
2                            0.0                2                satisfied
3                            9.0                1  neutral or dissatisfied
4                            0.0                2                satisfied
...                          ...              ...                      ...
103899                       0.0                1  neutral or dissatisfied
103900                       0.0                2                satisfied
103901                      14.0                1  neutral or dissatisfied
103902                       0.0                1  neutral or dissatisfied
103903                       0.0                1  neutral or dissatisfied

[103904 rows x 36 columns]>

In [49]:
df_onboard_rating = df[['cleanliness', 'onboard_service', 'seatservicerating_id', 'inflightservicesrating_id']].drop_duplicates().reset_index(drop=True)
df_onboard_rating['onboardservicesrating_id'] = df_onboard_rating.index + 1
df_onboard_rating.head

<bound method NDFrame.head of        cleanliness  onboard_service  seatservicerating_id  \
0                5                4                     1
1                1                1                     2
2                5                4                     1
3                2                2                     3
4                3                3                     4
...            ...              ...                   ...
17248            5                3                    19
17249            1                5                     9
17250            1                2                    22
17251            1                5                     5
17252            4                2                     7

       inflightservicesrating_id  onboardservicesrating_id
0                              1                         1
1                              2                         2
2                              3                         3
3                              4                         4
4                              5                         5
...                          ...                       ...
17248                        261                     17249
17249                        109                     17250
17250                         96                     17251
17251                         29                     17252
17252                        252                     17253

[17253 rows x 5 columns]>

In [50]:
# Insert data into the 'onboard_rating' table
df_onboard_rating[['onboardservicesrating_id', 'cleanliness', 'onboard_service', 'seatservicerating_id', 'inflightservicesrating_id']].to_sql('onboard_rating', con=engine, if_exists='append', index=False)

253

In [51]:
# Merge into df
df = df.merge(df_onboard_rating, on=['cleanliness', 'onboard_service', 'seatservicerating_id', 'inflightservicesrating_id'], how='left')

# Store the id column in a temporary variable 
onboardservicesrating_id_column = df['onboardservicesrating_id']

# Drop it from df and Insert the id column at the desired position
df = df.drop('onboardservicesrating_id', axis=1)
df.insert(10, 'onboardservicesrating_id', onboardservicesrating_id_column)
df.head

<bound method NDFrame.head of         survey_id  passenger_id  gender  customer_type_id      customer_type  \
0           70172             1    Male                 1     Loyal Customer
1            5047             2    Male                 2  disloyal Customer
2          110028             3  Female                 1     Loyal Customer
3           24026             4  Female                 1     Loyal Customer
4          119299             5    Male                 1     Loyal Customer
...           ...           ...     ...               ...                ...
103899      94171            22  Female                 2  disloyal Customer
103900      73097           113    Male                 1     Loyal Customer
103901      68825           163    Male                 2  disloyal Customer
103902      54173           182  Female                 2  disloyal Customer
103903      62567            48    Male                 1     Loyal Customer

        age  travel_id  travel_type_id   type_of_travel  class_id  ...  \
0        13          1               1  Personal Travel         1  ...
1        25          2               2  Business travel         2  ...
2        26          3               2  Business travel         2  ...
3        25          4               2  Business travel         2  ...
4        61          5               2  Business travel         2  ...
...     ...        ...             ...              ...       ...  ...
103899   23        483               2  Business travel         3  ...
103900   49       2617               2  Business travel         2  ...
103901   30       3585               2  Business travel         2  ...
103902   22       1358               2  Business travel         3  ...
103903   27        620               2  Business travel         2  ...

        legroom_service baggage_handling  checkin_service  inflight_service  \
0                     3                4                4                 5
1                     5                3                1                 4
2                     3                4                4                 4
3                     5                3                1                 4
4                     4                4                3                 3
...                 ...              ...              ...               ...
103899                1                4                2                 3
103900                5                5                5                 5
103901                2                4                5                 5
103902                5                1                5                 4
103903                1                4                4                 3

        delay_id  cleanliness  departure_delay_in_minutes  \
0              1            5                          25
1              2            1                           1
2              3            5                           0
3              4            2                          11
4              3            3                           0
...          ...          ...                         ...
103899        21            2                           3
103900         3            4                           0
103901       721            4                           7
103902         3            1                           0
103903         3            1                           0

        arrival_delay_in_minutes  satisfaction_id             satisfaction
0                           18.0                1  neutral or dissatisfied
1                            6.0                1  neutral or dissatisfied
2                            0.0                2                satisfied
3                            9.0                1  neutral or dissatisfied
4                            0.0                2                satisfied
...                          ...              ...                      ...
103899                       0.0                1  neutral or dissatisfied
103900                       0.0                2                satisfied
103901                      14.0                1  neutral or dissatisfied
103902                       0.0                1  neutral or dissatisfied
103903                       0.0                1  neutral or dissatisfied

[103904 rows x 37 columns]>

In [52]:
df_services_rating = df[['eservicesrating_id', 'operationsrating_id', 'groundservicesrating_id', 'onboardservicesrating_id']].drop_duplicates().reset_index(drop=True)
df_services_rating['servicerating_id'] = df_services_rating.index + 1
df_services_rating.head

<bound method NDFrame.head of        eservicesrating_id  operationsrating_id  groundservicesrating_id  \
0                       1                    1                        1
1                       1                    2                        2
2                       2                    3                        3
3                       3                    4                        4
4                       4                    5                        5
...                   ...                  ...                      ...
97886                   1                   18                       22
97887                   5                   73                       26
97888                  17                 5547                       15
97889                  17                   18                       58
97890                  19                    5                       29

       onboardservicesrating_id  servicerating_id
0                             1                 1
1                             2                 2
2                             3                 3
3                             4                 4
4                             5                 5
...                         ...               ...
97886                      1801             97887
97887                       486             97888
97888                     11212             97889
97889                      1216             97890
97890                       113             97891

[97891 rows x 5 columns]>

In [53]:
# Insert data into the 'services_rating' table
df_services_rating[['servicerating_id', 'eservicesrating_id', 'operationsrating_id', 'groundservicesrating_id', 'onboardservicesrating_id']].to_sql('services_rating', con=engine, if_exists='append', index=False)

891

In [54]:
# Merge into df
df = df.merge(df_services_rating, on=['eservicesrating_id', 'operationsrating_id', 'groundservicesrating_id', 'onboardservicesrating_id'], how='left')

# Store the id column in a temporary variable 
servicerating_id_column = df['servicerating_id']

# Drop it from df and Insert the id column at the desired position
df = df.drop('servicerating_id', axis=1)
df.insert(12, 'servicerating_id', servicerating_id_column)
df.head

<bound method NDFrame.head of         survey_id  passenger_id  gender  customer_type_id      customer_type  \
0           70172             1    Male                 1     Loyal Customer
1            5047             2    Male                 2  disloyal Customer
2          110028             3  Female                 1     Loyal Customer
3           24026             4  Female                 1     Loyal Customer
4          119299             5    Male                 1     Loyal Customer
...           ...           ...     ...               ...                ...
103899      94171            22  Female                 2  disloyal Customer
103900      73097           113    Male                 1     Loyal Customer
103901      68825           163    Male                 2  disloyal Customer
103902      54173           182  Female                 2  disloyal Customer
103903      62567            48    Male                 1     Loyal Customer

        age  travel_id  travel_type_id   type_of_travel  class_id  ...  \
0        13          1               1  Personal Travel         1  ...
1        25          2               2  Business travel         2  ...
2        26          3               2  Business travel         2  ...
3        25          4               2  Business travel         2  ...
4        61          5               2  Business travel         2  ...
...     ...        ...             ...              ...       ...  ...
103899   23        483               2  Business travel         3  ...
103900   49       2617               2  Business travel         2  ...
103901   30       3585               2  Business travel         2  ...
103902   22       1358               2  Business travel         3  ...
103903   27        620               2  Business travel         2  ...

        legroom_service baggage_handling  checkin_service  inflight_service  \
0                     3                4                4                 5
1                     5                3                1                 4
2                     3                4                4                 4
3                     5                3                1                 4
4                     4                4                3                 3
...                 ...              ...              ...               ...
103899                1                4                2                 3
103900                5                5                5                 5
103901                2                4                5                 5
103902                5                1                5                 4
103903                1                4                4                 3

        delay_id  cleanliness  departure_delay_in_minutes  \
0              1            5                          25
1              2            1                           1
2              3            5                           0
3              4            2                          11
4              3            3                           0
...          ...          ...                         ...
103899        21            2                           3
103900         3            4                           0
103901       721            4                           7
103902         3            1                           0
103903         3            1                           0

        arrival_delay_in_minutes  satisfaction_id             satisfaction
0                           18.0                1  neutral or dissatisfied
1                            6.0                1  neutral or dissatisfied
2                            0.0                2                satisfied
3                            9.0                1  neutral or dissatisfied
4                            0.0                2                satisfied
...                          ...              ...                      ...
103899                       0.0                1  neutral or dissatisfied
103900                       0.0                2                satisfied
103901                      14.0                1  neutral or dissatisfied
103902                       0.0                1  neutral or dissatisfied
103903                       0.0                1  neutral or dissatisfied

[103904 rows x 38 columns]>

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103904 entries, 0 to 103903
Data columns (total 38 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   survey_id                          103904 non-null  int64
 1   passenger_id                       103904 non-null  int64
 2   gender                             103904 non-null  object
 3   customer_type_id                   103904 non-null  int64
 4   customer_type                      103904 non-null  object
 5   age                                103904 non-null  int64
 6   travel_id                          103904 non-null  int64
 7   travel_type_id                     103904 non-null  int64
 8   type_of_travel                     103904 non-null  object
 9   class_id                           103904 non-null  int64
 10  onboardservicesrating_id           103904 non-null  int64
 11  class_type                         103904 non-null  object
 12  servicerating_id                   103904 non-null  int64
 13  flight_distance                    103904 non-null  int64
 14  operationsrating_id                103904 non-null  int64
 15  inflightservicesrating_id          103904 non-null  int64
 16  inflight_wifi_service              103904 non-null  int64
 17  departure_arrival_time_convenient  103904 non-null  int64
 18  groundservicesrating_id            103904 non-null  int64
 19  ease_of_online_booking             103904 non-null  int64
 20  eservicesrating_id                 103904 non-null  int64
 21  gate_location                      103904 non-null  int64
 22  food_and_drink                     103904 non-null  int64
 23  seatservicerating_id               103904 non-null  int64
 24  online_boarding                    103904 non-null  int64
 25  seat_comfort                       103904 non-null  int64
 26  inflight_entertainment             103904 non-null  int64
 27  onboard_service                    103904 non-null  int64
 28  legroom_service                    103904 non-null  int64
 29  baggage_handling                   103904 non-null  int64
 30  checkin_service                    103904 non-null  int64
 31  inflight_service                   103904 non-null  int64
 32  delay_id                           103904 non-null  int64
 33  cleanliness                        103904 non-null  int64
 34  departure_delay_in_minutes         103904 non-null  int64
 35  arrival_delay_in_minutes           103594 non-null  float64
 36  satisfaction_id                    103904 non-null  int64
 37  satisfaction                       103904 non-null  object
dtypes: float64(1), int64(32), object(5)
memory usage: 30.9+ MB

In [56]:
df_survey = df[['survey_id', 'passenger_id', 'travel_id', 'servicerating_id', 'satisfaction_id']].drop_duplicates().reset_index(drop=True)
df_survey.head

<bound method NDFrame.head of         survey_id  passenger_id  travel_id  servicerating_id  satisfaction_id
0           70172             1          1                 1                1
1            5047             2          2                 2                1
2          110028             3          3                 3                2
3           24026             4          4                 4                1
4          119299             5          5                 5                2
...           ...           ...        ...               ...              ...
103899      94171            22        483             97888                1
103900      73097           113       2617             16677                2
103901      68825           163       3585             97889                1
103902      54173           182       1358             97890                1
103903      62567            48        620             97891                1

[103904 rows x 5 columns]>

In [57]:
# Insert data into the 'survey' table
df_survey[['survey_id', 'passenger_id', 'travel_id', 'servicerating_id', 'satisfaction_id']].to_sql('survey', con=engine, if_exists='append', index=False)

904

In [58]:
df.to_csv('transformed_survey_data.csv', index=False)